@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO add the min-h-screen stuff back to main */

/* Define custom CSS variables for theme */
:root {
  --foreground: #dfe5f6;
  --background: #080d1c;
  --primary: #96a9e3;
  --primary-foreground: #080d1c;
  --secondary: #742588;
  --secondary-foreground: hsl(223, 58%, 92%);

  --accent: hsl(311, 57%, 57%);
  --accent-foreground: hsl(295, 58%, 93%);
  --destructive: hsl(360, 70%, 50%);
  --destructive-foreground: hsl(360, 70%, 30%);
  --border: hsl(223, 58%, 92%);
  --input: hsl(223, 58%, 92%);
  --ring: hsl(223, 58%, 92%);
  --card-background: #292c3d;
  --card-foreground: hsl(223, 58%, 92%);
  --card-border: hsl(223, 58%, 92%);

  /* Muted Versions */
  --muted-foreground: #eef1f6;
  --muted-background: hsl(230, 20%, 15%);
  --muted-primary: #bac5de;
  --muted-secondary: hsl(286, 40%, 38%);
  --muted-accent: #c270b1;

  /* Gradients */
  --linearPrimarySecondary: linear-gradient(
    hsl(225, 58%, 74%),
    hsl(288, 57%, 34%)
  );
  --linearPrimaryAccent: linear-gradient(
    hsl(225, 58%, 74%),
    hsl(311, 57%, 57%)
  );
  --linearSecondaryAccent: linear-gradient(hsl(288, #d053ba%), #d053ba);
  --radialPrimarySecondary: radial-gradient(
    hsl(225, 58%, 74%),
    hsl(288, 57%, 34%)
  );
  --radialPrimaryAccent: radial-gradient(
    hsl(225, 58%, 74%),
    hsl(311, 57%, 57%)
  );
  --radialSecondaryAccent: radial-gradient(hsl(288, #d053ba%), #d053ba);
}

@layer base {
  main {
    @apply p-2;
  }
  body {
    @apply min-h-screen bg-background text-foreground;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  .testBorder {
    @apply border border-red-500;
  }
  .customShadow {
    @apply shadow-md shadow-primary;
  }
  .customLink {
    @apply flex h-[48px] items-center justify-center gap-2 rounded-md p-3 text-sm font-normal hover:bg-muted-primary hover:text-primary-foreground md:flex-none md:justify-start md:p-2 md:px-12;
  }
  .primaryButton {
    @apply bg-primary text-primary-foreground text-lg w-32 h-12 rounded-lg hover:bg-muted-primary hover:customShadow  focus:customShadow;
  }
  .secondaryButton {
    @apply bg-secondary text-secondary-foreground text-lg w-32 h-12 rounded-lg hover:bg-muted-secondary hover:customShadow  focus:customShadow;
  }
  .eventCard {
    @apply flex flex-col bg-card text-card-foreground rounded-xl md:min-h-fit  gap-4 p-4;
  }
  .familyCard {
    @apply flex flex-col bg-card text-card-foreground rounded-xl justify-around px-4 hover:bg-muted-background;
  }
  .listItem {
    @apply list-none cursor-default rounded-md hover:text-foreground hover:bg-primary px-2;
  }
  .addEventMobile {
    @apply h-20 w-20 rounded-full bg-primary text-primary-foreground text-6xl;
  }
  .addEventDesktop {
    @apply bg-primary rounded-md text-primary-foreground text-sm min-w-fit h-12 w-36;
  }
}
